<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prj_Reservation_K7.Properties.Settings.h18equipe3ConnectionString"
            connectionString="Data Source=mssql.local.shawinigan.info;Initial Catalog=h18equipe3;Persist Security Info=True;User ID=h18equipe3etd1;Password=1517125446"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>